* {
    font-family: "Helvetica Neue";
}

.articleImage {
    background: url('../img/article-image.jpg') center center;
    background-size: cover;
    min-height: 400px;
}

.premiumBanner {
    display: none;
    border: 1px dashed #999;
    border-radius: 5px;
    padding: 15px;
    background-color: #eee;
}

